body{
    font-family: 'Roboto', sans-serif;
    background-color: #0657f76d;
    -webkit-background-size: contain;
}

/* navbar css starts here  */
.bg-light{
    background-color: #06defd!important;
    -webkit-background-size: contain;
    background-size: contain;
    -moz-background-size: contain;
}

.navbar-title{
    font-family: 'Courier Bolder';
    font-size: 2rem;
    font-style: normal;
    color: rgb(200, 106, 166);
}

.nav-link{
    color: #2e0d0d!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #f3f1f100;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(20, 116, 206)!important;
    color: rgb(255, 255, 255)!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(216, 218, 238)!important;
}

/* footer css starts here */
footer{
    background-color:  #f2e9e4;
}
